<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingressos</title>
</head>
<body>
    <div>
        <form action="{% url 'reserva_ingresso' %}" method="POST">
            {% csrf_token %}

            <h2>Compre seu ingresso:</h2>
            <h3>
                O estádio tem 100 lugares. Escolha quantos ingressos deseja e seus números identificadores
            </h3>

            <label for="nome">Seu nome:</label>
            <input name="nome" id="nome" required>

            <br><br>
            
            <label for="numero_ids">Escolha seus ingressos (utilize "Ctrl+click" para selecionar múltiplos ingressos):</label>
            <select name="numero_ids" id="numero_ids" multiple required>
                {% for ingresso in ingressos_disponiveis %}
                    <option value="{{ingresso.numero}}">{{ingresso.numero}}</option>
                {% endfor %}

            </select> 

            <br>
            <br>

            <button>Finalizar</button>

            <br>

        </form>
    </div>
</body>
</html>